* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;  
}

.container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2; 
  display: flex;
  margin: 10px;
  gap: 10px;
}

.left {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  flex-basis: 48%;
}


.content {
  height: 185px;
  border-radius: 10px;
  box-shadow: 0 0px 2px 1px black;
  display: flex;
  border: 1px solid black;
  flex-direction: column; 
  overflow: hidden;
}

h3 {
  text-align: center;
  font-size: 20px;
  background-color: #00b894; 
  color: white;
  padding: 5px;
}


textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;      
  outline: none;
  resize: none;       
  font-family: monospace;
  font-size: 14px;
  background-color: #fafafa;
  color: #333;
}

.right{
    background-color: #fafafa;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 50%;
     box-shadow: 0 0px 2px 1px black;
    overflow: hidden;
}
.content1 iframe{
    width: 100%;
    height: 100%;
    border: none;
}

@media  (max-width:575px) {
  
 .right{
   width: 180px;
   margin-right: 20px;
 }
}